# Cross-platform
requests; python_version >= '3.9'
xmltodict; python_version >= '3.9'
git+https://github.com/kernel-dev/dicttoxml-collections-fix@450c839; python_version >= '3.9'

# macOS
pyobjc; python_version >= '3.9' and sys_platform == 'darwin'

# Windows
wmi; python_version >= '3.9' and sys_platform == 'win32'
pywin32; python_version >= '3.9' and sys_platform == 'win32'

# Linux
distro; python_version >= '3.9' and sys_platform == 'linux'